<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaIntDB - Query</title>
</head>
<body>
<h1>PaIntDB (<i><b>P</b>seudomonas <b>a</b>eruginosa</i> <b>Int</b>eraction <b>D</b>ata<b>b</b>ase)</h1>
<nav>
    <ul>
        <li><a href = " {{url_for('home') }}">Home</a></li>
        <li><a href = " {{url_for('info.data_sources') }}">Data Sources</a></li>
        <li><a href = " {{url_for('query.query') }}">Query</a></li>
    </ul>
</nav>
<h2><u>Query</u></h2>
<p>Upload interactors or not</p>
<p>Select filters</p>
<p>Submit</p>
</body>
</html>