<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaIntDB - Data Sources</title>
</head>
<body>
<h1>PaIntDB (<i><b>P</b>seudomonas <b>a</b>eruginosa</i> <b>Int</b>eraction <b>D</b>ata<b>b</b>ase)</h1>
<nav>
    <ul>
        <li><a href = " {{url_for('home') }}">Home</a></li>
        <li><a href = " {{url_for('info.data_sources') }}">Data Sources</a></li>
        <li><a href = " {{url_for('query.upload') }}">Query</a></li>
    </ul>
</nav>
<h2><u>Data Sources</u></h2>
PaIntDB is built with data accumulated from multiple source databases. Interactions in PaIntDB were either found
in the specified <i>P. aeruginosa</i> strain, or were obtained through mapping of orthologous interactions from
the other <i>P. aeruginosa</i> strain or <i>Escherichia coli K12 substr. MG1655</i>.
<h3>Data Sources by Species/Strain</h3>

<h3>Ortholog Interactions</h3>



</body>
</html>