<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaIntDB - Query</title>
</head>
<body>
<h1>PaIntDB (<i><b>P</b>seudomonas <b>a</b>eruginosa</i> <b>Int</b>eraction <b>D</b>ata<b>b</b>ase)</h1>
<nav>
    <ul>
        <li><a href = " {{url_for('home') }}">Home</a></li>
        <li><a href = " {{url_for('info.data_sources') }}">Data Sources</a></li>
        <li><a href = " {{url_for('query.upload') }}">Query</a></li>
    </ul>
</nav>
<h2><u>Query - Select Filters</u></h2>
<p>
    Go through each section below to select appropriate filters. Multiple options can be selected for each filter (you
    may have to press CTRL while selecting multiple items). The default for each filter is 'All', so skip
    to the next step to browse all interactions in PaIntDB.
</p>
<form method="post" enctype="multipart/form-data">
    <h4>Interactor strain(s)</h4>
    <select name="strain" id="strain" multiple size="3" required>
        <option value="All" selected>All</option>
        <option value="PAO1">PAO1</option>
        <option value="PA14">PA14</option>
    </select>
    <h4>Interaction Type(s)</h4>
    <select name="type" id="type" multiple required>
        <option value="All" selected>All</option>
        <option value="p-p">protein-protein</option>
        <option value="p-m">protein-metabolite</option>
        <option value="p-bs">transcription factor-binding site</option>
    </select>
    <h4>Data Sources</h4>
    <label for="Ecoli_sources" >E. coli K12 substr. MG1655</label><br>
    <select name="Ecoli_sources" id="Ecoli_sources" size="6" multiple required>
        <option value="All" selected>All</option>
        <option value="None">None</option>
        <option value="EcoCyc">EcoCyc</option>
        <option value="KEGG(Ecoli)">KEGG</option>
        <option value="BindingDB(Ecoli)">BindingDB</option>
        <option value="ChEMBL(Ecoli)">ChEMBL</option>
        <option value="DIP(Ecoli)">DIP</option>
        <option value="EBI-GOA-nonIntAct(Ecoli)">EBI-GOA-nonIntAct</option>
        <option value="IMEx(Ecoli)">IMEx</option>
        <option value="IntAct(Ecoli)">IntAct</option>
        <option value="iRefIndex(Ecoli)">iRefIndex</option>
        <option value="mentha(Ecoli)">mentha</option>
        <option value="MINT(Ecoli)">MINT</option>
        <option value="MPIDB(Ecoli)">MPIDB</option>
        <option value="RegulonDB(Ecoli)">RegulonDB</option>
        <option value="UniProt(Ecoli)">UniProt</option>
    </select><br><br>
    <label for="PAO1_sources">PAO1</label><br>
    <select name="PAO1_sources" id="PAO1_sources" size="6" multiple required>
        <option value="All" selected>All</option>
        <option value="None">None</option>
        <option value="KEGG(PAO1)">KEGG</option>
        <option value="IMEx(PAO1)">IMEx</option>
        <option value="iRefIndex(PAO1)">iRefIndex</option>
        <option value="mentha(PAO1)">mentha</option>
        <option value="MINT(PAO1)">MINT</option>
        <option value="MPIDB(PAO1)">MPIDB</option>
        <option value="IntAct(PAO1)">IntAct</option>
        <option value="ADIPInteractomes(PAO1)">ADIP Interactomes</option>
        <option value="XLinkDB">XLinkDB*</option>
        <option value="Galan-Vasquez(PAO1)">Galan-Vasquez*</option>
        <option value="Zhang">Zhang*</option>
        <option value="Geoff">Geoff Winsor and Raymond Lo*</option>
    </select><br><br>
    <label for="PA14_sources">PA14</label><br>
    <select name="PA14_sources" id="PA14_sources" size="7" multiple required>
        <option value="All" selected>All</option>
        <option value="None">None</option>
        <option value="KEGG(PA14)">KEGG</option>
        <option value="IMEx(PA14)">IMEx</option>
        <option value="iRefIndex(PA14)">iRefIndex</option>
        <option value="mentha(PA14)">mentha</option>
        <option value="Galan-Vasquez(PA14)">Galan-Vasquez*</option>
    </select>
    <h4>Interaction Verification</h4>
    <select name="verification" id="verification" size="4" multiple required>
        <option value="All" selected>All</option>
        <option value="1">Experimental</option>
        <option value="0">Predicted</option>
        <option value="2">Undetermined detection</option>
    </select><br><br>
    <input type=submit value="Apply Filters">
</form>
</body>
</html>