<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaIntDB - Query</title>
</head>
<body>
<h1>PaIntDB (<i><b>P</b>seudomonas <b>a</b>eruginosa</i> <b>Int</b>eraction <b>D</b>ata<b>b</b>ase)</h1>
<nav>
    <ul>
        <li><a href = " {{url_for('home') }}">Home</a></li>
        <li><a href = " {{url_for('info.data_sources') }}">Data Sources</a></li>
        <li><a href = " {{url_for('query.upload') }}">Query</a></li>
    </ul>
</nav>
<h2><u>Query - Upload Protein File</u></h2>
<p>If you wish to query PaIntDB for interactions involving your proteins of interest, upload a txt, csv, or tsv
    file containing your proteins by clicking below. <b>Please use locus tag ids, with each id on a separate line.</b>
    If you wish to simply browse PaIntDB, skip this step.</p>
<form method="POST" enctype="multipart/form-data">
    <label for="proteinFile">Protein/Gene Interactor File</label>
    <input type="file" name="proteinFile" id="proteinFile" disabled>
    <input type="submit" value="Upload" disabled>
    <button type="submit">Re-Upload File</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br><br><br>
<button><a href="{{url_for('query.filter')}}">Next Step: Select Filters</a></button>
</body>
</html>